# Compiled artifacts
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.cpcache/

# REPL things
/.lein-*
/.nrepl-port
.hgignore
.hg/

# Development tools
log/
dev/
.dir-locals.el
.lsp/
.clj-kondo/.cache/
.calva
