{:hooks {:analyze-call {discljord.messaging/defendpoint hooks.discljord/defendpoint
                        discljord.messaging.impl/defdispatch hooks.discljord/defdispatch
                        discljord.messaging.impl/def-message-dispatch hooks.discljord/def-message-dispatch}}}
